<ion-header no-border>
    <ion-navbar>
        <ion-buttons end *ngIf="showSkip">
            <button ion-button (click)="startApp()" color="primary">Skip</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content no-bounce>
    <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

        <ion-slide>
            <img src="assets/imgs/Vektor.png" class="slide-image" />
            <h2 class="slide-title">
                Willkommen bei <b>talKIT!</b>
            </h2>
            <p>
                Wir freuen uns sehr, die nächsten Tage mit Euch zu verbringen
            </p>
        </ion-slide>

        <!-- <ion-slide>
            <img src="assets/img/ica-slidebox-img-2.png" class="slide-image" />
            <h2 class="slide-title">What is Ionic?</h2>
            <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>
        </ion-slide> -->

        <ion-slide>
            <img src="assets/imgs/Vektor.png" class="slide-image" />
            <h2 class="slide-title">Artificial Intelligence</h2>
            <p>Künstliche Intelligenz (engl. Artificial Intelligence) beschreibt das Entwickeln eines intelligenten Verhaltens von Maschinen oder Computern. Sie gehört zu den wegweisenden Antriebskräften der Digitalen Revolution.</p>
        </ion-slide>

        <ion-slide>
            <img src="assets/imgs/Vektor.png" class="slide-image" />
            <h2 class="slide-title">Cybersecurity</h2>
            <p>Mit der exponentiell steigenden Anzahl an netzwerkfähigen Geräten wird das Thema Cybersecurity immer wichtiger. Cybersecurity ist eine der größten Herausforderungen der Digitalisierung.</p>
        </ion-slide>

        <ion-slide>
            <img src="assets/imgs/Vektor.png" class="slide-image" />
            <h2 class="slide-title">Hinweis</h2>
            <p>Die Website ist eine Web-App und offline-fähig. Bitte füge sie deinem Homescreen hinzu.</p>
        </ion-slide>

        <ion-slide>
            <img src="assets/imgs/Vektor.png" class="slide-image" />
            <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
                <ion-row>
                    <ion-col>
                        <ion-list inset>
                            <ion-item>
                                <ion-input placeholder="Anmelde-Code" name="token" id="loginField" type="text" required [(ngModel)]="token" #email></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                        <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">Login
                        </button>
                    </ion-col>
                </ion-row>
            </form>
            <!-- <div style="margin-top: 10px">
                oder klicke auf den Link in der E-Mail
            </div> -->
        </ion-slide>

    </ion-slides>
</ion-content>